// VARIABLES --------------------------------- /

// COLORS
$color-bg-primary: #FCFAF9;
$color-bg-secondary: #F3D3BD;

$color-bg-dark: #333333;
$color-bg-secondary-dark: #5E5E5E;

$color-btn-primary: #B8F5E8;

$color-black :#000000;
$color-white: #FFFFFF;

// FONTS 
$font-stack-primary: 'Lato',
    sans-serif;
$font-base-default: 18px;

// MEDIA QUERIES
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile: 320px;

// MAX WIDTH
$max-width-main: 60rem;