// VARIABLES --------------------------------- /

// COLORS
$color-bg-primary: #FCFAF9;
$color-bg-secondary: #F3D3BD;

$color-bg-dark: #333333;
$color-bg-secondary-dark: #5E5E5E;

$color-btn-login: #F5F5DC;
$color-btn-signup: #00b100;

$color-black :#000000;
$color-white: #FFFFFF;

// FONTS 
$font-primary-stack: 'Lato',
sans-serif;
$font-base-default: 18px;

// FONT WEIGHTS
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;

// SIZING
$full: 100%;
$three-fourths: 75%;
$half: 50%;
$third: 33.33%;
$quarter: 25%;

// MEDIA QUERIES
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile: 320px;

// MAX WIDTH
$max-width-main: 70rem;