// Carousel - Override Bootstrap Styles

.carousel-inner {
  z-index: -1;
}

.carousel-item {
  filter: brightness(0.6);
}

.carousel-indicators {
  top: 88%;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}


.carousel-caption h5,
.carousel-caption p {
  color: $color-white;
}