// Carousel - Override Bootstrap Styles

.carousel.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: -2;
}

.carousel.wrapper .carousel-item {
  filter: brightness(0.5);
}

.carousel.wrapper .carousel-indicators {
  top: 95%;
}

.carousel.wrapper .carousel-caption h5,
.carousel.wrapper .carousel-caption p {
  color: $color-white;
}

.carousel-inner {
  z-index: -1;
}