// DESIGNERS
.designers {
    @include flex-standard;
    

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 7rem;
        min-width: 7rem;
        border-radius: 50%;
        cursor: pointer;
        border: 1px dashed $color-black;
        transition: transform .3s ease, letter-spacing .3s ease;
        
        &:hover {
            transform: translateY(-25%);
            letter-spacing: .2rem;
        }

    
        &:hover > a {
            color: $color-links;
        }

        &__desc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
        }

    }
}

