// DESIGNERS
.designers {
    @include flex-standard;
    margin-top: 2rem;

    &__list {
        position: relative;
        padding: 3rem;
        border: 2px dotted $color-bg-dark;
        border-radius: 50%;
        cursor: pointer;

        &:hover > a {
            color: $color-links;
        }

    }
}

// Animations
