.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid lightgrey;

  &__section {
    display: flex;
    flex-direction: column;
    &__list {
      &__item:hover {
        color: $color-links;
      }
      &__icon {
        max-height: 2rem;
        width: auto;
      }
    }
  }
}

// .footer_item {
//   display: flex;
//   flex-direction: column;
// }

// a:hover {
//   color: red;
// }

// .icon {
//   max-height: 10rem;
//   width: auto;
// }
