footer {
  display:flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid lightgrey;
}

.footer_item {
  display: flex;
  flex-direction: column;
  
}

a:hover {
  color:red;
}

.icon {
 max-height: 2rem;
 width: auto; 
}



