// TRENDS

.trends {
    @include flex-standard; 

    &__list {
        width: 32%;

        &__link {

            &__img {
                
            }
            &__desc {
                display: block;
                margin-top: 1rem;
            }
        }
    }
}